<%- include('../../_layouts/adminheader') %>
  <h2 class="page-title">Pages</h2>
  <a href="/admin/pages/new">Add page</a>
  <br><br>

  <table class="table table-striped table-sort">
    <thead>
      <tr class="home">
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% pages.forEach((page) => { %>
        <tr id="<%= page.id %>" class="<%= page.slug %>">
          <td><%= page.title %></td>
          <td><a href="/admin/pages/edit/<%= page.slug %>">Edit</a></td>
          <% if (page.slug === 'home') { %> 
            <td></td>
          <% } else { %>
            <td><a data-confirm="Are you sure?" data-method="delete" href="/admin/pages/destroy/<%= page._id %>">Delete</a></td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <script>
    window.onload = () => {
      $('tbody').sortable({
        items: "tr:not('.home')",
        placeholder: "ui-state-highlight",
        update () {
          const id = $(this).sortable('toArray')
          const url = '/admin/pages/order'
          $.post(url, {id})
        }
      })
    }
  </script>

<%- include('../../_layouts/adminfooter') %>