<%- include('../_layouts/adminheader') %>
  <div class="alert alert-danger" role="alert">
    <h1>404</h1>
    <hr>
    <pre>
      <b>Request:</b> <%= controller %>#<%= action %>
      <b>Error:</b> <%= error %>
    </pre>
    <hr>
  </div>
<%- include('../_layouts/adminfooter') %>