<%- include('../../_layouts/adminheader') %>
  <h2 class="category-title">Categories</h2>
  <a href="/admin/categories/new">Add new</a>
  <br><br>

  <table class="table table-striped">
    <thead>
      <tr class="home">
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach((category) => { %>
        <tr id="<%= category.id %>" class="<%= category.slug %>">
          <td><%= category.title %></td>
          <td><a href="/admin/categories/edit/<%= category._id %>">Edit</a></td>
          <td><a data-confirm="Are you sure?" data-method="delete" href="/admin/categories/destroy/<%= category._id %>">Delete</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('../../_layouts/adminfooter') %>